*{
    padding:0;
    margin: 0;
}

body{
    background-color: #000000;
}

p{
    color: white;
    font-size: 5rem;
}

.piece{
    width: 40px;
    height: 10px;
    background-color: purple;
    position: relative;
}

.piece::before,
.piece::after{
    content: '';
    position: absolute;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.piece::before{
    border-right: 20px solid purple;
    left: -20px;
}

.piece::after{
	border-left: 20px solid purple;
    right: -20px;
}

.vertical{
    rotate: 90deg;
}

body{
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    place-items: center;
}
.hora{
    display: flex;
}
.minuto{
    display: flex;
}
.segundo{
    display: flex;
}
.container{
    display: grid;
    height: 230px;
    max-width: 110px;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
}

.pino0{
    grid-row: 2;
    grid-column: 1;
}
.pino1{
    grid-row: 2;
    grid-column: 3;
}
.pino2{
    grid-row: 4;
    grid-column: 3;
}
.pino3{
    grid-row: 4;
    grid-column: 1;
}
.pino4{
    grid-row: 1;
    grid-column: 2;
}
.pino5{
    grid-row: 3;
    grid-column: 2;
}
.pino6{
    grid-row: 5;
    grid-column: 2;
}

/* terror começa aqui */

/* config do default */

.piece[data-pino='none'].pino0{
    display: none;
}
.piece[data-pino='none'].pino1{
    display: none;
}
.piece[data-pino='none'].pino2{
    display: none;
}
.piece[data-pino='none'].pino3{
    display: none;
}
.piece[data-pino='none'].pino4{
    display: none;
}
.piece[data-pino='none'].pino5{
    display: none;
}
.piece[data-pino='none'].pino6{
    display: none;
}

/* config do numero 1 */

.piece[data-pino='um'].pino0{
    display: none;
}
.piece[data-pino='um'].pino1{
    display: block;
}
.piece[data-pino='um'].pino2{
    display: block;
}
.piece[data-pino='um'].pino3{
    display: none;
}
.piece[data-pino='um'].pino4{
    display: none;
}
.piece[data-pino='um'].pino5{
    display: none;
}
.piece[data-pino='um'].pino6{
    display: none;
}

/* config do numero 2 */

.piece[data-pino='dois'].pino0{
    display: none;
}
.piece[data-pino='dois'].pino1{
    display: block;
}
.piece[data-pino='dois'].pino2{
    display: none;
}
.piece[data-pino='dois'].pino3{
    display: block;
}
.piece[data-pino='dois'].pino4{
    display: block;
}
.piece[data-pino='dois'].pino5{
    display: block;
}
.piece[data-pino='dois'].pino6{
    display: block;
}

/* config do numero 3 */

.piece[data-pino='tres'].pino0{
    display: none;
}
.piece[data-pino='tres'].pino1{
    display: block;
}
.piece[data-pino='tres'].pino2{
    display: block;
}
.piece[data-pino='tres'].pino3{
    display: none;
}
.piece[data-pino='tres'].pino4{
    display: block;
}
.piece[data-pino='tres'].pino5{
    display: block;
}
.piece[data-pino='tres'].pino6{
    display: block;
}

/* config numero 4 */

.piece[data-pino='quatro'].pino0{
    display: block;
}
.piece[data-pino='quatro'].pino1{
    display: block;
}
.piece[data-pino='quatro'].pino2{
    display: block;
}
.piece[data-pino='quatro'].pino3{
    display: none;
}
.piece[data-pino='quatro'].pino4{
    display: none;
}
.piece[data-pino='quatro'].pino5{
    display: block;
}
.piece[data-pino='quatro'].pino6{
    display: none;
}

/* config numero 5 */

.piece[data-pino='cinco'].pino0{
    display: block;
}
.piece[data-pino='cinco'].pino1{
    display: none;
}
.piece[data-pino='cinco'].pino2{
    display: block;
}
.piece[data-pino='cinco'].pino3{
    display: none;
}
.piece[data-pino='cinco'].pino4{
    display: block;
}
.piece[data-pino='cinco'].pino5{
    display: block;
}
.piece[data-pino='cinco'].pino6{
    display: block;
}

/* config numero 6 */

.piece[data-pino='seis'].pino0{
    display: block;
}
.piece[data-pino='seis'].pino1{
    display: none;
}
.piece[data-pino='seis'].pino2{
    display: block;
}
.piece[data-pino='seis'].pino3{
    display: block;
}
.piece[data-pino='seis'].pino4{
    display: block;
}
.piece[data-pino='seis'].pino5{
    display: block;
}
.piece[data-pino='seis'].pino6{
    display: block;
}

/* config numero 7 */

.piece[data-pino='sete'].pino0{
    display: none;
}
.piece[data-pino='sete'].pino1{
    display: block;
}
.piece[data-pino='sete'].pino2{
    display: block;
}
.piece[data-pino='sete'].pino3{
    display: none;
}
.piece[data-pino='sete'].pino4{
    display: block;
}
.piece[data-pino='sete'].pino5{
    display: none;
}
.piece[data-pino='sete'].pino6{
    display: none;
}

/* config numero 8 */

.piece[data-pino='oito'].pino0{
    display: block;
}
.piece[data-pino='oito'].pino1{
    display: block;
}
.piece[data-pino='oito'].pino2{
    display: block;
}
.piece[data-pino='oito'].pino3{
    display: block;
}
.piece[data-pino='oito'].pino4{
    display: block;
}
.piece[data-pino='oito'].pino5{
    display: block;
}
.piece[data-pino='oito'].pino6{
    display: block;
}

/* config numero 9 */

.piece[data-pino='nove'].pino0{
    display: block;
}
.piece[data-pino='nove'].pino1{
    display: block;
}
.piece[data-pino='nove'].pino2{
    display: block;
}
.piece[data-pino='nove'].pino3{
    display: none;
}
.piece[data-pino='nove'].pino4{
    display: block;
}
.piece[data-pino='nove'].pino5{
    display: block;
}
.piece[data-pino='nove'].pino6{
    display: block;
}

/* config numero 0 */

.piece[data-pino='zero'].pino0{
    display: block;
}
.piece[data-pino='zero'].pino1{
    display: block;
}
.piece[data-pino='zero'].pino2{
    display: block;
}
.piece[data-pino='zero'].pino3{
    display: block;
}
.piece[data-pino='zero'].pino4{
    display: block;
}
.piece[data-pino='zero'].pino5{
    display: none;
}
.piece[data-pino='zero'].pino6{
    display: block;
}

